{% extends "Organizations/bs4_base.html" %}

{% block title %}Abilities{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
         {# <h1 class="mt-5">Abilities <small class="text-muted">{{ mu.full_name }}</small></h1> #}
            <h1 class="mt-5">{{ mu.full_name }} <small class="text-muted">Abilities</small></h1>

            {% include 'Organizations/inc_abilities_table.html' with abilities=ability_list thead_class='thead-light' with_buttons=True %}
            <div class="d-flex justify-content-end">
                <a href="{% url 'organizations:ability-add' %}" class="btn btn-primary btn-sm">Add new</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
