{% extends "base.html" %}
{% load i18n %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 400px;">
            <h1 class="mt-5 mb-3">Login</h1>

            <form method="post" novalidate>
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <div class="alert alert-primary" role="alert">
                        <p>You are already logged in as <em>{{ user.full_name }}</em>.</p>
                        <p class="mb-0">(If that is not you, please <a href="{% url 'accounts:logout' %}" class="alert-link">log out</a>.)</p>
                    </div>
                {% endif %}
                {% include 'inc_bs4_simple_form.html' with form=form only %}
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
