{% extends "bs4_base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col" style="max-width: 400px;">
            <h1 class="mt-5 mb-3">{{ title }}</h1>

            {% comment %}
            <p>
                Hier können Sie das Passwort ändern, mit dem Sie sich (zusammen mit Ihrem Benutzernamen) bei Lori anmelden.
                Geben Sie dazu zuerst Ihr altes Passwort ein, anschließend zweimal das neue.
                Die doppelte Eingabe soll helfen, Tippfehler zu vermeiden.
            </p>
            {% endcomment %}
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'bs4_simple_form.html' with form=form only %}
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
