body {
    /* A navbar that is fixed with `<nav class="fixed-top">` requires custom
       padding to properly offset the contents below. The number must be
       updated whenever the height of the <nav> element changes. */
    padding-top: 85px;
}

nav.navbar-dark.bg-dark {
    border-bottom: 8px solid #007bff;
}

nav > a.navbar-brand > img {
    transform: scaleX(-1);
    width: 60px;
}
